*.o
*.lo
.DS_Store
build
outputs
.libs/
config.log
GNUmakefile
*.la
libplatform/impl.h.gch/static
*.dirstamp
libplatform/stamp-h1
project/project.m4
config.status
libplatform/config.h
libtool
include/mp4v2/project.h
mp4art
mp4chaps
mp4extract
mp4file
mp4info
mp4subtitle
mp4tags
mp4track
mp4trackdump
util/impl.h.gch/exe
src/impl.h.gch/static
libutil/impl.h.gch/static
