*.o
*.lo
.DS_Store
build
*.la
libplatform/impl.h.gch/static
*.dirstamp
libplatform/stamp-h1
project/project.m4
libplatform/config.h
include/mp4v2/project.h
util/impl.h.gch/exe
src/impl.h.gch/static
libutil/impl.h.gch/static
